<li class="row">
  <div class="col-12">
    <div class="form-check d-flex align-items-center">
      <input class="form-check-input" type="checkbox" value="<%= collection.shopify_id %>" id="collection-<%= collection.id %>">
      <label class="form-check-label" for="collection-<%= collection.id %>">
        <%= collection.title %>
      </label>
    </div>
  </div>
</li>
