/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import "bootstrap-icons";
@import "variants";

html, body {
	background-color: #fcfcfc;
}
.main {
	padding: 50px 16px;
}
table {
	img {
		max-height: 50px;
	}
	.truncate-url {
		width: 300px;
		max-width: 100%;
	  white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;
	  display: block;
	}
}
.pagination {
	align-items: center;
	justify-content: center;

	a, span, em {
		display: inline-block;
		margin: 0 7px;
	}
}

#conditions {
	margin-top: 15px;
}

.condition-item {
	padding-bottom: 15px;

	input {
		max-width: calc( 100% - 30px );
	}

	.bi-trash {cursor: pointer;}
	&:first-child {
		.bi-trash {display: none;}
	}
}

.valid-error {
	border-color: #dc3545;
  box-shadow: 0 0 0 0.25rem rgba(220,53,69,.25);
}
#select_products {
	margin-top: 15px;
}
#search_results {
	list-style: none;
	padding: 0;
	max-height: 500px;
	overflow-y: auto;
	margin-top: 16px;
	.form-check-label {
		margin-left: 15px;
		white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;
	  max-width: calc( 100% - 50px );
	  font-size: 12px;
	}
	.form-check .form-check-input {
		margin-left: -1em;
	}

	img {
		max-height: 40px;
		margin-right: 10px;
	}
}
#search_products {
	width: 100%;
}

.discount_price_group {
  max-width: 280px;
}

#price-levels-body .discount_price {
	width: 80px;
}

.bi-trash {
  cursor: pointer;
}

#price-levels-body tr:first-child .bi-trash {
	display: none;
}
select.form-control {
  -webkit-appearance: menulist;
  -moz-appearance: menulist;
	appearance: menulist;
}

.card-body .card-section .row:first-child .bi-trash {
  display: none;
}

#vendor_third_shipping + label + input {
	display: none;
}
#vendor_third_shipping:checked + label + input {
	display: inline-block;
}
.toggle-variant {
	cursor: pointer;
}
.toggle-variant.active::before {
	-ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.accordion-initiator {
	cursor: pointer;
	font-size: 1.25em;
	background: #efefef;
	padding: 10px;
	color: red;
	i {
		margin-left: 15px;
		font-size: 15px;
	}
}
.accordion-initiator + table, .accordion-initiator + .accordion-body {
	display: none;
}
.accordion-initiator.active	+ table {
	display: table;
}
.accordion-initiator.active	+ .accordion-body {
	display: block;
}
.accordion-initiator.active i:before {
	-ms-transform: rotate(180deg);
  transform: rotate(180deg);	
}