<table>
  <thead>
    <th>Shopify ID</th>
    <th>Title</th>
    <th>Supplier Type</th>
    <th>Suppliers</th>
    <th>Production Details</th>
    <th>Pricing</th>
  </thead>
  <tbody>
    
  </tbody>
</table>